<header class="header_area" th:fragment="header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{/}">Trip Mate
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center mx-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">홈화면</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">계획세우기</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/manage-plan}">여행일정관리하기</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/single-blog}">예산관리하기</a></li>
                            </ul>
                        <li class="nav-item submenu dropdown">
                            <a th:href="@{/mypage-main}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">마이페이지</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/login}">로그인</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/elements}">회원정보 수정</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/single-blog}">예산관리하기</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto d-flex align-items-center">

                        <!-- 검색창 + 링크 전체를 하나의 수평 행으로 정렬 -->
                        <li class="nav-item d-flex align-items-center">

                            <!-- 검색창 -->
                            <form action="/search" method="get" class="d-flex align-items-center m-0 p-0">
                                <input type="text" name="q" class="form-control form-control-sm" placeholder="Search here"
                                       style="max-width: 150px; min-width: 100px;">
                                <button type="submit" class="btn btn-link p-2">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                            </form>
                            <!-- 로그인 링크 -->
                            <a class="nav-link px-2" th:href="@{/login}">로그인</a>
                            <!-- 회원가입 링크 -->
                            <a class="nav-link px-2" th:href="@{/signup}">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>