<header class="header_area" th:fragment="header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{/}">Trip Mate
                    <!--<img th:src="@{/img/logo.png}" alt="">-->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center mx-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">홈화면</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">계획세우기</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/manage-plan}">여행일정관리하기</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/single-blog}">예산관리하기</a></li>
                            </ul>
                        <li class="nav-item submenu dropdown">
                            <a th:href="@{/mypage-main}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">마이페이지</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/login}">로그인</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/elements}">회원정보 수정</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/single-blog}">예산관리하기</a></li>
                            </ul>
                        </li>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto search">
                        <li class="nav-item d-flex align-items-center mr-10">
                            <div class="menu-form">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search here">
                                    </div>
                                </form>
                            </div>
                            <button type="submit" class="search-icon">
                                <i class="lnr lnr-magnifier"></i>
                            </button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <i class='fas fa-user-alt' style='font-size:36px'></i>
                            <a th:href="@{/login}">로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>