<header class="header_area" th:fragment="header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{/}">Trip Mate
                    <!--<img th:src="@{/img/logo.png}" alt="">-->
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center mx-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">홈화면</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">계획세우기</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/manage-plan}">여행일정관리하기</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/single-blog}">예산관리하기</a></li>
                            </ul>
                        <li class="nav-item submenu dropdown">
                            <a th:href="@{/mypage-main}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">마이페이지</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/login}">로그인</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/elements}">회원정보 수정</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/single-blog}">예산관리하기</a></li>
                            </ul>
                        </li>
                    </ul>

<!--                    <ul class="nav navbar-nav ml-auto search d-flex align-items-center">-->
<!--                        <li class="nav-item d-flex align-items-center mr-3">-->
<!--                            <div class="menu-form d-flex align-items-center" >-->
<!--                                <form class="d-flex align-items-center m-0">-->
<!--                                    <div class="form-group mb-0">-->
<!--                                        <input type="text" class="form-control form-control-sm" placeholder="Search here">-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                            <button type="submit" class="search-icon border-0 bg-transparent p-2 d-flex align-items-center">-->
<!--                                <i class="lnr lnr-magnifier"></i>-->
<!--                            </button>-->
<!--                        </li>-->
<!--                        <li class="nav-item d-flex align-items-center ml-2">-->
<!--                            <i class="fas fa-user-alt mr-2" style="font-size:36px;"></i>-->
<!--                            <a th:href="@{/login}" class="nav-link p-0">로그인</a>-->
<!--                        </li>-->
<!--                    </ul>-->

                    <ul class="nav navbar-nav ml-auto d-flex align-items-center">
                        <!-- 검색창 -->
                        <li class="nav-item">
                            <form action="/search" method="get" class="d-flex align-items-center m-0 p-0">
                                <input type="text" name="q" class="form-control form-control-sm" placeholder="Search here" style="max-width: 150px; min-width: 100px;">
                                <button type="submit" class="btn btn-link p-2">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                            </form>
                        </li>

                        <!-- 로그인 -->
                        <li class="nav-item d-flex align-items-center ml-3">
                            <i class="fas fa-user-alt mr-2" style="font-size: 16px;"></i>
                            <a th:href="@{/login}" class="nav-link p-0" style="font-size: 14px;">로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>