.content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* or 100vh, depending on header/footer height */
    /*padding: 60px 0;*/
    box-sizing: border-box;
    padding-top: 100px;
}
.content-area form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.container-inner {
    margin-bottom: 0px;
}

#login-form div{
    padding-bottom: 15px;
}

.form-a {
    margin: auto;
}

#signup-form {
    padding: 2rem 1rem;
}

/*.form-wrapper {*/
/*    max-width: 600px;*/
/*    margin: 0 auto; !* 수평 가운데 정렬 *!*/
/*    padding: 2rem 1rem; !* 위아래/양옆 여백 *!*/
/*    background-color: #fff;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
/*}*/

.form-group {
    margin-bottom: 1rem;
}