html {
    font-family: "LINESeedKR-Rg", "Noto Sans KR", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* 헤더와 푸터는 고정된 위치가 아닌 자연스러운 흐름 */
header, footer {
    width: 100%;
    box-sizing: border-box;
}

/* 본문 영역 */
.content-area {
    flex: 1;
    padding: 60px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;/*flex-start;*/
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/*------------------------------------------------------ 페이지별 CSS -----------------------------------------------------------------------*/
/* 로그인 페이지 */
.login-area {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    width: 400px;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

/* a href 영역 가운데 정렬 */
.login-link {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}

/* 회원가입 페이지 */
.signup-area {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}
